body
{
    font-family: 'Segoe UI';
    margin: 10px;
    padding: 20px;
}

h1
{
    height: 100px;
    padding: 10px;
    background-color: #3939c8;
    color: white;
}

footer
{
    height: 150px;
    padding: 20px;
    font-size:50px;
    background-color: #193968;
    color: white;
    text-align: center;
    border-top: solid white;
    border: 1px;
}

.container{
    display: flex;
    margin: 10px;
    justify-content:  space-around;
    gap: 20px;
}