header
{
    height: 100px;
    padding: 10px;
    background-color: #3939c8;
    color: white;
}

footer
{
    height: 150px;
    padding: 20px;
    background-color: #193968;
    color: white;
    border-top: solid white;
    border: 1px;
}

